.content{
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-go{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px -8px, rgba(0, 0, 0, 0.1) 0px 9px 28px, rgba(0, 0, 0, 0.08) 0px 12px 48px 16px;
    background: #a7d2c4;
    color: #fff;
    position: fixed;
    font-weight: 400;
    font-size: 28px;
    bottom: 80px;
    width: 60%;
    height: 80px;
    line-height: 80px;
    border-radius: 80px;
}
.icon{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 30px;
    background: url(../../assets/images/ai-name.jpeg) no-repeat center/cover;
}
.desc{
    font-size: 26px;
    margin-top: 160px;
}