.title{
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}
.btn-go{
    background: rgba(96,101,237, .6);
    color: #fff;
    position: fixed;
    font-weight: 400;
    font-size: 28px;
    bottom: 80px;
    width: 60%;
    height: 80px;
    line-height: 80px;
    border-radius: 80px;
}