.element-item{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: #3a3a3c;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px -8px, rgba(0, 0, 0, 0.1) 0px 9px 28px, rgba(0, 0, 0, 0.08) 0px 12px 48px 16px;
}
.active-item{
    background-image: linear-gradient(to top, #e7eef2 0%, #a7d2c4 100%);
    color: #f3f1f1;
    font-size: 26px;
    font-weight: 500;
}